# Ignore virtual environment and environment variables
venv/
.env

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore test script
test_mongo_db.py

# Ignore root-level folders
logs/
Artifacts/
mlruns/
